@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-lock-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    overscroll-behavior: none;
  }
  .scroll-lock-layer:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -1px;
    content: var(--tw-content);
    display: block;
  }
  .scroll-lock-layer-children {
    bottom: -1px !important;
  }

  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
